/**
 * Theme Name:     Bitkorn w3schools GAS
 * Theme URI:      http://www.gomolzig.de
 * Description:    A theme with base responsive CSS v4 from w3schools.com
 * Author:         Torsten Brieskorn
 * Author URI:     http://www.bitkorn.de
 * Text Domain:    wp-bitkorn-w3schools-gas
 * Version:        0.0.2
 */
/*
 * https://calcolor.co/721c50
 */
* {
  font-family: Ubuntu, Helvetica, courier new, Arial, sans-serif;
}

html, body {
  font-size: 15px;
}

#content {
  padding: 12px 0;
}

section#content-section {
  line-height: 1.5 !important;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

header#page_header {
  z-index: 2 !important;
}

header.page-header {
  border-bottom: 1px solid #721c50;
}

@media (min-width: 601px) {
  .page-header-logo {
    height: 92px;
  }
}
@media (max-width: 600px) {
  .page-header-logo {
    height: 42px;
  }
}
.page-header-topping {
  padding-bottom: 8px;
}

.page-header-logo-text {
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-decoration: underline;
}

.slide-container {
  border-bottom: 3px solid #721c50;
}

footer.page-footer {
  min-height: 420px;
  width: 100%;
  border-top: 3px solid #721c50;
}

#privacy-banner {
  font-size: 1.3em;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #c0be27;
}

#privacy-banner p {
  padding: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.gas-brand {
  background-color: #721c50;
  color: #dfddde;
  font-weight: bold;
}

.gas-text-brand {
  color: #721c50;
}

.gas-brand-discreet {
  border-bottom: 2px solid #721c50;
  color: #0d0d0d;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 4px;
}

.gas-h {
  border-bottom: 2px solid #721c50;
  color: #0d0d0d;
  padding-left: 4px;
  letter-spacing: 0.05em;
}

.gas-h-s {
  color: #0d0d0d;
  letter-spacing: 0.05em;
}

.gas-search-button {
  border-bottom: 1px solid #721c50;
}

/* Menue ############################################################ */
#menu-topmenu a.w3-bar-item, button.bkw3s-menu-item-1 {
  padding: 14px 16px 12px 16px;
  font-weight: bold;
}

.bkw3s-menu-item-inner {
  font-weight: normal !important;
}

a.gas-jumbo, .gas-jumbo-h {
  color: #0d0d0d;
  text-decoration: none;
}

.w3-dropdown-c-inner {
  margin-top: 1px;
  width: 100%;
  display: block;
  background-color: #dfddde !important;
  border-left: 1px solid #999999;
  box-shadow: 2px 2px 3px #999999;
}

.gas-jumbo-h {
  font-weight: bold !important;
  font-size: 1.2em;
  margin: 6px 0;
}

a.gas-jumbo {
  display: block;
  letter-spacing: 0.1em;
  font-weight: normal;
  padding: 4px;
}

a.gas-jumbo:hover {
  color: #0d0d0d;
  background-color: #cccccc;
}

.gas-jumbo-block {
  width: 320px;
  float: left;
  display: inline-block;
}

@media (max-width: 600px) {
  .w3-dropdown-c-inner {
    border-left: none;
  }

  .gas-jumbo-block {
    width: 100%;
    margin: 0 auto;
  }
}
a.more-link {
  display: block;
}

article.post {
  margin: 27px 0;
}

.color-facebook {
  color: #3B5998;
}

.color-linkedin {
  color: #0077B5;
}

.wpcf7-submit {
  border: none;
  display: inline-block;
  padding: 4px 8px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  background-color: #721c50;
  color: #dfddde;
  font-weight: bold;
}

.cf7-form {
  width: 400px;
}

#overlay_menu {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/*# sourceMappingURL=style.css.map */
